@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
.heroContainer {
  position: relative;
  height: 78vh;
  width: 100%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}