.global-loading-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  filter: blur(0px);
  visibility: visible;
}
.global-loading-content.visible {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.global-loading-content.mounted {
  visibility: visible;
}
.global-loading-content.loading {
  pointer-events: none;
}
